h1,h2,li{
    font-family: Arial;
}
.square{
    display: inline-block;
    height:298px;
    width:298px;
    background-color: cyan;
    border: 1px solid blue;
}
.square:nth-child(2){
    margin: 0 10px;
}