body{
    background-color: lightgoldenrodyellow;
}

h1{
    text-align: center;
   
}

.contener{
    display: grid;
    justify-content: center;
  
}

.form  {
    text-align: center;
}

.form #text{
    border-radius: 25px;
}
form #bouton{
width: 25px;
height: 25px;
padding-top: 10px;
position: absolute;
margin-top: -15px;
padding-left: 5px;

}

.done{
    background : lightgreen;
    color : black;
}
.affichage{
    justify-content: center;
    shape-margin: initial;

}

ul{
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    
}

li{
    padding: 10px,20px;
    color : black;
    text-transform: capitalize;
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    background: lightblue;
}


li :hover{
    background-color: red;

}
.affichage li button {
    float: right;
    border : none;

}

.delete{
    display: none;
}
