li{
    background-color: rebeccapurple;
}

ul li{
    background-color: aquamarine;
}

.titre{
    color: firebrick;
}

#footerImage,
footer p{
    display: inline;
}

.divSection{
    background-color: lightblue;
    height: 298px;
    width: 298px;
    border: 1px solid darkblue;
    display: inline-block;
}
.divSection:nth-child(2){
    margin: 0 10px;
}
